body {
    margin: 0;
    font-weight: bolder;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    height: 100vh;
    grid-template-areas: "sidebar header" "sidebar main";
}

.sidebar {
    background-color: aqua;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    width: 30px;
    height: auto;
}

.header {
    background-color: crimson;
    grid-area: header;
}

.search {
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    justify-content: space-between;
}

.main {
    background-color: lawngreen;
    grid-area: main;
    display: grid;
    grid-template: 3fr 1fr / 3fr 1fr;
    grid-template-areas: "projects announce" "projects trends";
    gap: 20px;
    padding: 30px;
    max-height: 100%;
}

.Projects {
    grid-area: projects;
}

.Project-Tile {
    display: grid;
    gap: 4px;
    padding: 4px;
    border: 1px solid grey;
    background-color: skyblue;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.Announcements {
    grid-area: announce;
}

.Trending {
    grid-area: trends;
}